@use "~components/SearchAndBrowse/SearchAndBrowseResultsPage.module.scss";

.hiddenSearchBox {
  // Hides the SearchBox component. Though we are not explicitly using it,
  // the component needs to be present within the InstantSearch parent component
  // for the query to be passed to the Algolia Instant Search internals.
  display: none;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;

  p {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #666;
  }
}
