@import "../../../styles/utils/_helpers.scss";
@import "../../../styles/utils/_colors.scss";
@import "./DesktopNavigation.module.scss";

// Extends but diverges from DesktopNavigation.module.scss

.navigationMenuContainer {
  position: relative;
  min-width: 160px;
}

.navigationSubMenu {
  top: 50px;
  left: 0;
}

.navigationMenuHeader {
  gap: 10px;
  font-size: 26px;
  font-family: Montserrat;

  @include r_max($break-tablet-s) {
    font-size: 20px;
  }
}

.navigationMenuHeader .chevron {
  font-size: 20px;

  @include r_max($break-tablet-s) {
    font-size: 16px;
  }
}
