@import "../../styles/utils/_helpers.scss";

$input-height: 40px;
$border-width: 2px;

// TODO: need design consult for being in top bar
.navSearch {
  display: flex;
  // Fixes alignment on focus since box expands with outline set. Is there another way to handle
  // outline that won't affect height so dramatically?
  align-items: center;

  .searchLabel {
    display: flex;
    align-items: center;
    padding: 0 $general-spacing-md;
    background-color: $black;
    color: $white;
    border: $border-width solid $black;
    border-right: none;
    border-radius: $rounded-full 0 0 $rounded-full;
    height: $input-height;
    font-size: $font-size;
    font-weight: 600;
    white-space: nowrap;
    user-select: none;
  }

  .searchField {
    padding: $general-spacing-s $general-spacing-md;
    border: $border-width solid $color-tertiary;
    border-left: none;
    border-right: none;
    border-radius: 0;
    flex: 1;
    width: 400px;
    max-width: 100%;
    height: $input-height;
  }

  .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $general-spacing-md;
    padding-left: $general-spacing-s;
    background-color: $color-tertiary;
    border: $border-width solid $color-tertiary;
    color: $white;
    border-radius: 0 $rounded-full $rounded-full 0;
    cursor: pointer;
    height: $input-height;
    width: 48px;

    &:hover {
      background-color: $primary-button-hover-background;
      border-color: $primary-button-hover-background;
    }
  }

  border-radius: $rounded-full;

  &:focus-within {
    box-shadow: 0 0 0 $border-width $color-secondary;
  }

  .searchField,
  .searchIcon {
    &:focus {
      outline: none;
    }
  }

  @media screen and (max-width: $break-tablet-s) {
    margin-top: $spacing-1_5;
  }
}
